<img src="./img/logoconvexbrancomini2.png"  align="right"/>

<img src="./img/logoboxverde.png" align="right"/>
<br>

<!--
<img src="./img/logoconvexbrancomini2.png"  align="right"/>
-->
# Artificial Intelligence and Digital Transformation

<!--
<img src="./img/logoboxverde.png" align="right"/>
-->
__by [Daniel Cinalli](http://www.cinalli.com.br)__ - DSc Artificial Intelligence

## What is a Computer?


<br/><br/> 
## Notes:

* Coded in Python 3.x
* Using [Anaconda](https://www.anaconda.com/) is recommended
* Run the notebook `online` at [binder](https://mybinder.org/v2/gh/drcinalli/Artificial-Intelligence-and-Transformation/master) [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/drcinalli/Artificial-Intelligence-and-Transformation/master)
<!-- * [nbviewer](https://nbviewer.jupyter.org/) allows you to switch the notebooks "slides" mode-->

<br> </br>
### Table of Contents

- [What is a Computer?](#whatisacomputer)
- [Computer Knowledge](#ComputerKnowledge)
- [Algorithms](#Algorithms)
- [Code Examples](#code_example_1)

<br> <br>

<a id='whatisacomput'></a>
## What is a Computer?


<img align=right src="img/turing.jpg" width=300/>

>Box with a Goblin inside
        
<br>  

Two main properties:

* performs calculation*
* store results (and remember them)**
        
<br>
<br>

###### * Summit 150 petaFLOPS (quadrillion floating point operations); i7 200 gigaFLOPS (billion per second) <i>- in 2019</i>
###### ** Cloud storage (exabyte or zettabyte?)  <i>- in 2019</i>

<a id='Bit'></a>
## Binary number system

<img align=right src="img/adc.png" />

> bit: 0 or 1
        
<br>  

**Physical limitations:**
* micro transistor on/off
* electric signal 

**Representation of words, numbers, images,...**<br>
B - `01000010` <br>
103 - `01100111`<br>
Yellow color - `11111111 11111111 00000000`


**Operations:**<br>
+ | - | == | != | > | < ...

<a id='Computer'></a>
## Computer

<img align=right src="img/rubik.png" width=200/>

> computers only know what you tell them
        
<br>

**Calculator:**
* fixed code computer
* low memory


**Computer:**
* performs calculation
* store results (and remember them)
* _solve problems through scripts or computer codes_

<a id='ComputerKnowledge'></a>
## Computer Knowledge

<img align=right src="img/knowledge.png" width=300/>

> Declarative and Imperative knowldges
        
<br>

**Declarative Knowledge:**
* statement of facts and truth
<br> `2 + 2 = 4`
<br> `The cat is yellow`
<br> `Murilo is 12 years old`

It limits the human to find the new things

**Imperative Knowledge:**
* like a recipe or a cookbook
* sequence of steps/instructions 

It shows how to create information and knowledge

<a id='Algorithms'></a>
## What is an Algorithm?

<img align=right src="img/algorithm.png" width=400/>

> the algorithms change the game for computers
        
<br>

* sequence of simple steps 
* flow of control 
* "stop" definition

computational procedure for solving a problem
<br>
<br>

###### -Internally, these recipes are transformed in string of bits and converted to tiny instructions, <br>such as: `fetch value`; `sum values`; `multiply values`; `store value`, etc.

###### -Al-Khwarizmi <img align=right src="img/al-khwarizmi.jpeg" width=100/>

<a id='Languages'></a>
## Languages

<img align=right src="img/languages.jpg" width=400/>

> there are many many many types of languages
        
<br>

<i>Array:</i> MatLab, Julia, R, ...

<i>Constraint Programing:</i> ECLiPSe

<i>Command Line:</i> bash, sh, csh, bat, powershell, ...

<i>Fourth-generation:</i> Natural, ABAP, SQL, ...

<i>Compiled:</i> Basic, C, C#, C++, Ada, Cobol, Delphi, Pascal, Fortran, Eiffel, Java, Smalltalk, **Python**, ...

<i>Interpreted:</i> Ruby, Lisp, Javascript, VBscript, ...

<a id='code_example_1'></a>
## Code Example #1: draw lots

<img align=right src="img/drawlots.jpg" width=200/>
<br>

there are many different ways to write your code...

In [123]:
#number of people in the room
num_pessoas=20

#array
pessoas = []

#loop
for i in range(num_pessoas):
       pessoas.append(i+1)
       
print (pessoas)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

<br>
<br>
or like that:

In [124]:
import array
import random

#number of people in the room
num_pessoas=20

#array of integers
pessoas = array.array('i',(i+1 for i in range(0,num_pessoas)))
print (pessoas.tolist())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

<br>
<br>

<img align=right src="img/wonka.jpg" width=200/>
and the **winner** is:

In [129]:
winner = random.randint(1,num_pessoas)

print('The WINNER is: ' + str(winner))

The WINNER is: 11

<a id='code_example_3'></a>
## Code Example #2: Search on Files

<img align=right src="img/database.jpg" width=200/>

<br>

Search for an info on large files ... or databases

<br>
<i>spreadsheet sample</i>

> Accidental Drug Related Deaths 2012-2018 <BR>
> 21k records

In [130]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data = pd.read_csv("data/Accidental_Drug_Related_Deaths_2012-2018.csv", nrows=5000) 
# Preview the first 5 lines of the loaded data 
data.head(10)
#data.count()

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,14-0273,06/28/2014 12:00:00 AM,DateReported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,13-0102,03/21/2013 12:00:00 AM,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,13-0052,02/13/2013 12:00:00 AM,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"
5,14-0277,06/29/2014 12:00:00 AM,DateofDeath,23.0,Male,White,BRISTOL,NaN,NaN,BRISTOL,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"BRISTOL, CT\n(41.673037, -72.945791)","BRISTOL, CT\n(41.673037, -72.945791)","CT\n(41.575155, -72.738288)"
6,12-0205,08/12/2012 12:00:00 AM,DateofDeath,21.0,Female,White,WEST HARTFORD,HARTFORD,NaN,WEST HARTFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"WEST HARTFORD, CT\n(41.762008, -72.741807)","WEST HARTFORD, CT\n(41.762008, -72.741807)","CT\n(41.575155, -72.738288)"
7,13-0404,11/10/2013 12:00:00 AM,DateofDeath,40.0,Female,White,HAMDEN,NEW HAVEN,NaN,NEW HAVEN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"New Haven, CT\n(41.308252, -72.924161)","HAMDEN, CT\n(41.382918, -72.907743)","CT\n(41.575155, -72.738288)"
8,12-0107,04/25/2012 12:00:00 AM,DateofDeath,40.0,Male,White,EAST HARTFORD,HARTFORD,NaN,EAST HARTFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"EAST HARTFORD, CT\n(41.769319, -72.643785)","EAST HARTFORD, CT\n(41.769319, -72.643785)","CT\n(41.575155, -72.738288)"
9,13-0161,05/15/2013 12:00:00 AM,DateofDeath,50.0,Male,White,MONTVILLE,NEW LONDON,NaN,MONTVILLE,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"MONTVILLE, CT\n(41.45303, -72.136336)","MONTVILLE, CT\n(41.45303, -72.136336)","CT\n(41.575155, -72.738288)"

<br>
<br>
Let's try some queries...

> #deaths opioid
> #deaths male
> #deaths female
> #deaths hospital
> #deaths residence
> #deaths Bristol
> #deaths male and Bristol
> #deaths male and Bristol and opioid
> #deaths male and Bristol and opioid and <34 years old

In [131]:
# filtering with query method 
result = data.query('AnyOpioid == "Y"', inplace = False) 
#result = data.query('Sex =="Female"', inplace = False) 
#result = data.query('Sex =="Male"', inplace = False) 
#result = data.query('Sex =="Male" or Sex =="Female"', inplace = False) 
#result = data.query('Location =="Hospital"', inplace = False) 
#result = data.query('Location =="Residence"', inplace = False) 
#result = data.query('ResidenceCity =="BRISTOL"', inplace = False) 
#result = data.query('Sex =="Male" and ResidenceCity =="BRISTOL"', inplace = False) 
#result = data.query('Sex =="Male" and ResidenceCity =="BRISTOL" and AnyOpioid == "Y" and Age<34', inplace = False) 
 
# display 
result.count()
#result.head(10)

ID                     2400
Date                   2400
DateType               2400
Age                    2399
Sex                    2397
Race                   2394
ResidenceCity          2318
ResidenceCounty        2294
ResidenceState         2315
DeathCity              2399
DeathCounty            1559
Location               2392
LocationifOther         191
DescriptionofInjury    1743
InjuryPlace            2371
InjuryCity             2112
InjuryCounty           1238
InjuryState             361
COD                    2400
OtherSignifican          69
Heroin                 1259
Cocaine                 659
Fentanyl               1393
FentanylAnalogue        244
Oxycodone               262
Oxymorphone              25
Ethanol                 600
Hydrocodone              54
Benzodiazepine          663
Methadone               238
Amphet                   80
Tramad                   69
Morphine_NotHeroin       30
Hydromorphone             9
Other                   193
OpiateNOS                72
AnyOpioid              2400
MannerofDeath          2399
DeathCityGeo           2400
ResidenceCityGeo       2364
InjuryCityGeo          2354
dtype: int64

<br>
<br>

Now, imagine a file/database from Facebook users: 2,45 Billions (2019)
* how long to search for an info?
* or to sort a columnn?

<a id='code_example_3'></a>
## Code Example #3: Sort

<img align=right src="img/tape4.gif" width=300/>

<br>
Usually, we do not have to sort billion of billions of data

But sometimes we do... anyway, the example is educational :-)

> Bubble Sort O(nˆ2)
> Quick Sort
> Merge Sort
> Heap sort
> ...

creative and intelligence apllied to solve problems

<a id='code_example_4'></a>
## Code Example #4: square root

<img align=right src="img/rootsquare.jpeg" width=200/>

<br>
square root of a number - guess and check method.

> starting at 0.0 and incremental - takes time

In [133]:
x = int(input('Enter a number : '))
# The guess answer
guess = 0.0
# Used for accuracy. See the condition in While Loop
epsilon = 0.01
#used to increment our guess 'ans'
step = epsilon**2

total_guesses = 0

# We will understand this condition during code analysis
while (abs(guess**2 - x)) >= epsilon:
    guess += step
    total_guesses += 1

print('Total guesses were ' + str(total_guesses))
if abs(guess**2-x) >= epsilon:
    print('Failed on square root of ' + str(x))
else:
    print(str(guess) + ' is close to the square root of ' + str(x))

Enter a number :  9

Total guesses were 29984
2.998400000001903 is close to the square root of 9

<br>
<br>
or we can make better guesses...

Example for `number = 9` and `episilon = 0.01`

| Tentatives | Guess |
| ------ | ----------- |
| 01   | 4.5 |
| 02   | 2.25 |
| 03   | 3.375 |
| 04   | 2.8125 |
| 05   | 3.09375 |
| 06   | 2.953125 |
| 07   | 3.0234375 |
| 08   | 2.98828125 |
| 09   | 3.005859375 |
| 10   | 2.9970703125 |

If `episilon = 0.01` the tentatives increase, but the accuracy improves.

In [134]:
x = int(input('Enter a number : '))

epsilon = 0.01
left = 0
right = x
# guess start on X/2
guess = (right+left)/2.0

total_guesses = 0

while abs(guess**2 - x) > epsilon:
    if guess**2 < x:
        left = guess
    else:
        right = guess
    guess = (right+left)/2.0
    total_guesses += 1

print('Total guesses were ' + str(total_guesses))
print(str(guess) + ' is close to the square root of ' + str(x))

Enter a number :  9

Total guesses were 10
3.00146484375 is close to the square root of 9

<br>
<br>
<img align=right src="img/ilovmath.png" width=100/>
or we can simply call the function library (already ready for us :-)

In [2]:
import math
number = float(input("Please Enter any numeric Value : "))

#call function
squareRoot = math.sqrt(number)

print("The Square Root of a Given Number {0}  = {1}".format(number, squareRoot))

Please Enter any numeric Value :  3

The Square Root of a Given Number 3.0  = 1.7320508075688772



5. Sorts
old thru fita
today is fast (excel 22k itens)... but it works as education for us.

3. Outro de simplex pra resolver equacoes 

4. em geral com isso fazemos tudo (QUASE TUDO)... gta, face, whataspp, banco
Mas nem tudo
(agora link com TI)

(depois de uma IA geral ... transformacao digital e depois volto pro detalhe da IA)

In [29]:
import math
x=15
math.sqrt(x)

3.872983346207417

In [32]:
25**(1/2)
9**(1/2)
81**(1/2)

9.0

In [30]:

import math

number = float(input(" Please Enter any numeric Value : "))

squareRoot = math.sqrt(number)

print("The Square Root of a Given Number {0}  = {1}".format(number, squareRoot))

 Please Enter any numeric Value :  33

The Square Root of a Given Number 33.0  = 5.744562646538029

oh oh .... será q dá pra resolver TODOS esses problemas?
link com IA

In [ ]:
Impacto da Computacao...
4. Impact of computer / diversidade e extensão anywhere/ fins solutions
- palestra Cristina sobre tendencias da IA.

NOTEBOOK
Exemplos de appst

https://youtu.be/JRHAM1nAuD4

Notebook 
1. Areas de ti Academic
2. Areas de TI Professional

https://www.youtube.com/watch?v=SzJ46YA_RaA&feature=youtu.be

In [ ]:
- alguns exemplos mais interessantes 
- video microsoft .net. kkkk
- video startrek
-video de volta pro futuro ...


- sera q consigo resolver assim indeterminadamente???
- IA definicao

- quebras de areas
- etica e diversidade da TI

- entrando na metaheuristica/otimizacao
- Google trends 
- slides cadu

- o q viria ser entao a transformacao digitsl?

- TI é grantir utilidade e garantia